In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [16]:
#loading data file
ratings = pd.read_csv('C:\\Side Projects\\Collaborative Filtering\\files\\Ratings.csv')

In [22]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [23]:
type(ratings)

pandas.core.frame.DataFrame

In [26]:
len(ratings)

1149780